body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin-top:30px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  width: auto;
}

form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

label {
  display: block;
  margin-bottom: 8px;
}

input,
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
}
.form-class{
  display: inline-block;
  width: 250px;
  margin-inline: 11px;
}

button {
background-color:rgb(106, 111, 245);
width: 100%;
color: white;
padding: 10px 15px;
border: none;
border-radius: 4px;
cursor: pointer;
}

.box{
  width: 550px;
}
